@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

* {
    font-family: 'Oxygen', sans-serif;
}

/* add.js */

html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: rgb(48,52,55);
    max-width: 100%;
    overflow-x: hidden;
}

.app {
    width: 100%;
}

.add {
    text-align: center;
}

.input-field {
    width: 297px;
    height: 50px;
    font-size: 20px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
    color: white;
    background-color: rgb(56,60,63);
    border: none;
    border-radius: 5px;
}

.input-field:focus {
    outline: none;
}

.add-button {
    position:absolute;
    width: 150px;
    height:50px;
    background-color: rgba(88, 255, 116, 0.671);
    border: none;
    color: white;
    font-size: 20px;
    bottom:0px;
    right:25%;
    left:50%;
    margin-left:-150px;
    margin-bottom: 15px;
    border-radius: 5px;
    transition: background-color 200ms ease-in;
}

.add-button:hover {
    cursor: pointer;
    background-color: rgba(88, 255, 116, 0.377);
}

.add-button:focus {
    outline: none;
}

.cancel-button {
    position:absolute;
    width: 150px;
    height:50px;
    background-color: rgba(255, 52, 52, 0.671);
    border: none;
    color: white;
    font-size: 20px;
    bottom:0px;
    right:25%;
    left:50%;
    margin-left: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    transition: background-color 200ms ease-in;
}

.cancel-button:hover {
    cursor: pointer;
    background-color: rgba(255, 88, 88, 0.377);
}

.cancel-button:focus {
    outline: none;
}

/* App.js */

.task-wrapper {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: rgb(56,60,63);
    color: white;
    font-size: 19px;
}

.task-wrapper-radius-unfinished {
    border: 2px solid rgba(104, 103, 103, 0.671);
}

.task-wrapper-radius-finished {
    border: 2px solid rgba(77, 255, 151, 0.671);
    text-decoration: line-through;
}
.task-wrapper:hover {
    cursor: pointer;
}

.task-name {
    margin-left: 10px;
    margin-right: 10px;
    width: 80%;
}

.task-date {
    margin-left: 10px;
    margin-right: 20px;
    width: 20%;
}

.new-button {
    position:absolute;
    width: 150px;
    height:50px;
    background-color: rgba(74, 130, 252, 0.671);
    border: none;
    color: white;
    font-size: 20px;
    bottom:0px;
    text-align: center;
    right:30%;
    left:30%;
    margin-bottom: 15px;
    border-radius: 5px;
    transition: background-color 200ms ease-in;
}

.new-button:hover {
    cursor: pointer;
    background-color: rgba(35, 104, 255, 0.671);
}

.new-button:focus {
    outline: none;
}

#no-tasks {
    font-size: 20px;
    text-align: center;
    color: rgba(206, 206, 206, 0.671);
    font-weight: bold;
    margin-top: 100px;
}